.input {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

	border: #9A9A9A solid 1px;
}

#todo {
	margin-top: 8px;
	border: none;
	border-radius: 30px;
	height: 100%;
	width: 90%;
	padding-right: 11%;
	text-align: center;
}